.container{
    background-color: brown;
    display: grid;
    grid-template-rows:repeat(4,100px);
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  
}
.item-1{
    background: #eb7b07;

}
.item-2{
    background: #ffa74f;
   
}
.item-3{
    background: #f09056;
   
}
.item-4{
    background: #677f70;
   
}
